<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, user ' + ${connection} + '!'" />
<h1>Getting server updates</h1>
<div id="exampleOfStream"></div>
<script>
if(typeof(EventSource) !== "undefined") {
  var source = new EventSource("http://localhost:8080/api/example/stream");
  source.onmessage = function(event) {
    document.getElementById("exampleOfStream").innerHTML += event.data + "<br>";
  };
} else {
  document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
}
</script>
</body>
</html>